@model blog_template_practice.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="StyleSheet" type="text/css" href="~/Style.css" />
</head>
<body>
    <div class="box">
        @foreach (var content in Model.Content)
        {
            <div class="contentList">
                <h1>@content.Title</h1>
                <h3>@content.Author</h3>
                <p>@content.PublishDate</p>
                <p>@content.Body</p>
            </div>
        }
    </div>
    <a href="/Category/Index" id="backToContents"><button>Back to Categories</button></a>
</body>
</html>
