@model blog_template_practice.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @foreach (var content in Model.Content)
    {
    <div class="contentList">
        <p>@content.Title</p>
        <p>@content.Author</p>
        <p>@content.PublishDate</p>
        <p>@content.Body</p>
    </div>
        
    }
    <a href="/Category/Index"><button id="createButton">Back to Categories</button></a>
</body>
</html>
