@model IEnumerable<blog_template_practice.Models.Category>
@{
    Layout = null; 
}
@*Homepage*@
<h1>Categories</h1>

<ul>
    @foreach(var cat in Model)
    {
        <li><a href="/Content/Details/@cat.Id.">@cat.Name</a></li>
    }
</ul>

