@model IEnumerable<blog_template_practice.Models.Category>
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="StyleSheet" type="text/css" href="~/Style.css" />
</head>
<body>
<h1>Categories</h1>
     <div id="categoryIndexBox">
        @foreach (var cat in Model)
        {
            <h2 id="categoryHeaders"><a href="/Category/Details/@cat.Id">@cat.Name</a></h2>
        }
     </div>
<a href="/Content/Index" id="backToContents"><button>Back To Content Index</button></a> 
    
</body>
</html>
<footer>
    &copy; 2021 Eric Faler
</footer>

