@model blog_template_practice.Models.Content 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="box">
        <div class="contentList">
            <h2>Title: @Model.Title</h2>
            <p>Name: @Model.Author</p>
            <p>Date: @Model.PublishDate</p>
            <p>@Model.Body</p>
            <a href="/Content/Update/@Model.Id"><button id="createButton">Edit Post</button></a> <a href="/Content/Delete/@Model.Id"><button id="createButton">Delete Post</button></a>
        </div>
    </div>

    <a href="/Content/Index"><button id="createButton">Back to Contents</button></a>
</body>
</html>
