@model IEnumerable<blog_template_practice.Models.Content>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Content Index</title>
    <link rel="StyleSheet" type="text/css" href="~/Style.css" />
</head>
<body>
    <h1>Content Index</h1>
        <div class="buttonBox">
            <a href="/Content/Create/"><button id="createButton">Create Post</button></a>

            <a href="/Category/Index"><button id="createButton">Categories</button></a>

        </div>

        <div class="box">
    @foreach (var content in Model)
    {

            <div class="content">
                <h2 class="contentTitle">Title: <a href="/Content/Details/@content.Id">@content.Title</a></h2>
                <p>Author: @content.Author</p>
            </div>
    }
        </div>

</body>
</html>